<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <!--BOOTSTRAP CSS-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../css/css-bootstrap-4-3-1/bootstrap.min.css" rel="stylesheet">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" type="text/css" href="../css/css.css">
    <!--BOOTSTRAP JAVASCRIPT: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--CUSTOM JS-->
    <script type="text/javascript" src="../js/custom.js"></script>
    <title>Statistical Calculator</title>    
</head>
<body>
<h1>Statistical Calculator</h1>
    
<br /> 
	<div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Seperate numbers with spaces or other characters">Numbers to Use</span>
        </div>
        <input type="text" id="numbers" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" placeholder="Input Numbers">
    </div>
    
    <button id="calculate" class="btn btn-secondary" onClick="get_results()">Calculate</button>
<hr>
  <form>
        
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text setOfNumbers" data-toggle="tooltip" data-placement="bottom" title="What we are basing our calculations on">Set of Numbers</span>
        </div>
        <input type="text" id="numbersUsedInput" class="form-control" aria-label="Numbers used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
<hr>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Sum of numbers">Total</span>
        </div>
        <input type="text" id="totalSum" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Number of numbers">Count</span>
        </div>
        <input type="text" id="count" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Largest number">Maximum Value</span>
        </div>
        <input type="text" id="maxVal" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Smallest number">Minimum Value</span>
        </div>
        <input type="text" id="minVal" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="The agerage of the numbers">Mean</span>
        </div>
        <input type="text" id="mean" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="The middle number, or the average between the two middle numbers">Median</span>
        </div>
        <input type="text" id="median" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="The most frequently occuring number">Mode</span>
        </div>
        <input type="text" id="mode" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="The amount of variation between the numbers">Standard Deviation</span>
        </div>
        <input type="text" id="standardDev" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
<br />
    </form>
<div id="result"></div>

    
    
<footer>Created by Max Mukimov and Daniel Hickman Fall 2019</footer>
</body>

</html>