<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" type="text/css" href="css.css">
    <!--BOOTSTRAP CSS-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--BOOTSTRAP JAVASCRIPT: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Statistical Calculator</title>    
</head>
<body>
<h1>Statistical Calculator</h1>
    
<br> 
	<div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Seperate numbers with spaces or other characters">Numbers to Use</span>
        </div>
        <input type="text" id="numbers" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" placeholder="Input Numbers">
    </div>
    
    <button id="calculate" class="btn btn-secondary">Calculate</button>
<hr>
  <form>
        
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="What we are basing our calculations on">Set of Numbers</span>
        </div>
        <input type="text" id="numbersUsedInput" class="form-control" aria-label="Numbers used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
<hr>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Sum of numbers">Total</span>
        </div>
        <input type="text" id="totalSum" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Number of numbers">Count</span>
        </div>
        <input type="text" id="count" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Largest number">Maximum Value</span>
        </div>
        <input type="text" id="maxVal" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Smallest number">Minimum Value</span>
        </div>
        <input type="text" id="minVal" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="The agerage of the numbers">Mean</span>
        </div>
        <input type="text" id="mean" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="The middle number, or the average between the two middle numbers">Median</span>
        </div>
        <input type="text" id="median" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="The most frequently occuring number">Mode</span>
        </div>
        <input type="text" id="mode" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="???">Standard Deviation</span>
        </div>
        <input type="text" id="standardDev" class="form-control" aria-label="Numbers Used" aria-describedby="inputGroup-sizing-default" readonly>
    </div>
<br>
    </form>
<div id="result"></div>

    
    
<script>
//Enabling Tooltips for this page
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})

//Obtaining user-entered numbers
function get_results() {
    var enteredString = document.getElementById('numbers').value;
    
    //convert non-numbers to spaces
    var enteredNumbers = enteredString.replace(/\D/g,' ');
    
    //turn string into array, split at spaces
    var enteredArray = enteredNumbers.split(' ').map(function(item) {
   	    return parseInt(item, 10);
});
    //remove spaces (which are NaNs) from array
    var convertedArray = enteredArray.filter(function (item) {
        return item;
});

       var sum =0;
       var count =0;
       var max = convertedArray[0];
       var min =convertedArray[0];
       var median = 0;
       var mode = 0;
	   
      for (var i =0; i<convertedArray.length; i++){
            sum =+ sum+ convertedArray[i];
            count++;

        if (convertedArray[i]>max) {
            var max=convertedArray[i];
          }
        if (convertedArray[i]<min) {
            var min=convertedArray[i];
          }
        }
		
        var average = sum / count;
    
    	convertedArray.sort(function(a,b ){return a - b});
    	
    	  //median calculation
        if (convertedArray.length % 2 === 0 ) // is even
        { // average of two middle numbers
			median = (convertedArray[convertedArray.length / 2 - 1] + convertedArray[convertedArray.length / 2]) / 2;
		} else {  // is odd
				// middle number only
				median = convertedArray[(convertedArray.length - 1) / 2];
				}

    
    	 //mode calculation
			var modes = [], countArray = [], i, number, maxIndex = 0;

			for (i = 0; i < convertedArray.length; i += 1) {
				number = convertedArray[i];
				countArray[number] = (countArray[number] || 0) + 1;
			if (countArray[number] > maxIndex) {
    			maxIndex = countArray[number];
				}
			}

				for (i in countArray)
				if (countArray.hasOwnProperty(i)) {
    		 if (countArray[i] === maxIndex) {
        		modes.push(Number(i));
    				}
				}

        if (countArray[i] ==1)
        {
                document.getElementById('mode').value = "no mode found";
        }
        else {
        document.getElementById('mode').value = modes;
        }


// range calculator
    	
    document.getElementById('numbersUsedInput').value = convertedArray;
	document.getElementById('totalSum').value = sum;
	document.getElementById('count').value = count;
	document.getElementById('maxVal').value = max;
	document.getElementById('minVal').value = min;
	document.getElementById('mean').value = average;
	document.getElementById('median').value = median;
	
    
    
}
document.getElementById('calculate').addEventListener('click', get_results);

</script>
</body>

</html>