<!DOCTYPE html>
<html lang="en">
<head>
  <title>Statistical Calculator</title>

</head>
<body>
<h1>Statistical calculator</h1>
<br> 

<label><strong>Enter numbers: </strong><input type=text name=inputNumbers id="numbers"></label><br><br>
<br><br>
	<button id="calculate">Calculate</button>
	
<hr>
  <form>
        
		<br><br>
		<div id="result"></div><br>
        <label>Total: <input type=text name=totalSum id=totalSum></label><br><br>
        <label>Count: <input type=text name=count id=count></label><br><br>
        <label>Max Val: <input type=text name=maxVal id=maxVal></label><br><br>
        <label>Min Val: <input type=text name=minVal id=minVal></label><br><br>
        <label>Mean: <input type=text name=mean id=mean></label><br><br>
        <label>Median: <input type=text name=median id=median></label><br><br>
        <label>Mode: <input type=text name=mode id=mode></label><br><br>
        <label>Standard Deviation: <input type=text name=standardDev id=standardDev></label><br><br>
    </form>

<div id="result"></div>
<script>
function get_results() {
    var fname = document.getElementById('numbers').value;
    //var res = fname.split(" ").map(function(Array);
      var html = 'You entered <b>' + fname;
  
      document.getElementById('result').innerHTML = html;
}
document.getElementById('calculate').addEventListener('click', get_results);
</script>
</body>

</html>